p {
  color: #FFFFFF;
  margin-right: 90%;
}
.inblue {
  color: #FF0055;
  background-color: blue;
  padding: 20px;
  font-weight: bolder;
  margin-left: 10px;
  border solid 1px black;
}
.isblue{
  color: blue;
}
