<link rel="stylesheet" type="text/css" href="https://travisc404.github.io/art101/components/nav-bar/nav-css.css">
<script src="https://travisc404.github.io/art101/components/nav-bar/nav-toggle.js" defer></script>
<div id="nav-container" class="active">
  <nav class="navbar">
    <div class="nav-in">
      <a href="https://travisc404.github.io/art101"><p style="font-size:40px"><span id="_TTN">Travis Carlen</span><span id="_TTUS1">_</span></p></a>
      <p><span id="_TTJ_P">Game Designer.</span><span id="_TTUS2">_</span></p>
    </div>
    <div class="nav-in fright">
      <ul>
        <li class="nav-in">
          <p><a href="https://travisc404.github.io/art101/labs/">Labs</a></p>
        </li>
      </ul>
    </div>
  </nav>
  <div unselectable="on" id="toggle" onclick="show()">
    V
  </div>
</div>
