img{
  filter: blur(10px);
  width:150%;
}
body{
  background-color: #101010;
}
*{
  padding: 0px;
  margin: 0px;
}
.lab{
  z-index: -1;
  width:25%;
  overflow: hidden;
  height:200px;
  border-radius: 25px;
  float:left;
}
.lab-label {
  background-color: black;
  position: relative;
  padding: 10px;
  z-index: 1;
}
#toggle {
  border-color: white;
  border-width: thin;
  border:solid;
  border-top: none;
}
